body {
  font-family:Arial,Helvettica,sans-serif;
  background-color:#333333;  */
}

header {
  width:90%;
  background-color:black;
  color:white;
  margin-right:auto;
  margin-left:auto;
  padding:10px;
  overflow:hidden;
}

p {
  margin:10px;
}



h1 {
  color: yellow;
  font-size:200%;
  margin:0;
  padding:0;
  padding-top:10px;
}

h2 {
  font-size:160%;
}

h3 {
  font-size:130%;
}

hgroup {
  width:70%;
  float:left;
}

hgroup h1 {
  padding-top:0;
  line-height:1em;
}

hgroup h2 {
  text-transform:uppercase;
  font-size:120%;
  line-height:100%;
}

nav {
  width:30%;
  float:right;
}

nav ul {
  list-style-type:none;
}


nav li {
  float:left;
  margin-right:5px;
}

section {
	width: 90%;
	background-color: #808080;
	margin-right: auto;
	margin-left: auto;
	border-color: black;
	border-style: solid;
	border-width: 5px;
	padding: 5px;
}

	
aside {
  width:60%;
  margin-right:;
  margin-left:10px;  
  background-color:#66cc00;
  font-size:80%; 
  padding:20px;
  border:1px solid #696; 
  border-radius:20px;
}

footer {
  width:90%;
  background-color:black;
  color:white;
  margin-right:auto;
  margin-left:auto;
  height:50px;
  padding:10px;
}

input {
  color: red;
}

select {
  margin-left:10px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: gray;
}

.background {
	background-image: url(Background3.jpg);
	background-size: cover;
	background-repeat:;
}

img {
  height: 350px;
  width:450px;
  border-radius: 10px; 
  margin: 2px 2px 2px 2px;
 }

figure {
}

iframe {
  border-radius: 10px;
  margin-left: 40px;
}

.container {
  position: relative;
  float:right;
  text-align: center;
  background-color:;
  height: 400px;
  max-width: 500px;
  left: -1px; 
  top: -85px;
}

.container2 {
  position: relative;
  float:right;
  text-align: center;
  background-color:;
  height: 400px;
  max-width: 500px;
  left:-30px; 
  top: ;
}

.containerText {
	position: absolute;
	top: 50%;
	left:25%;
	background-color:;
	color:white;
	opacity: 0;
}

.container:hover {
	opacity: 0.5;
}

.container:hover .containerText{
	opacity: 1;
}


