header {
	/*background: url('background1.jpg') no-repeat 100% 100%; */
  height: 650px;
  background-size: cover; 
}


#background {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;

}


body {
  font-family:Arial,Helvettica,sans-serif;
  background-color:#333333;
}

#submit1 {
  border: none;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
}

#selectBox {
	width: 30%;
  /*
  This allows us to fill areas with transparent color; the first three numbers representing the color in RGB values and the fourth 
  representing a transparency value between 0 and 1 (zero being fully transparent and one being fully opaque).
  */
  background-color: rgb(111, 152, 179);
  padding: 10px 10px;
  margin: auto auto auto auto;
  text-align: center;
  border-radius: 10px;
}

#randomMessage {
	width: 34%;
  margin: 60px auto auto auto;
  text-align: center;
}

#randomMessage h1 {
  color:rgb(102, 6, 6);
}
  
p {
  margin: 10px 10px 5px 20px;
  color:rgb(189, 187, 187);
  font-family: Calibri;
  font-size: 120%;
  font-weight: 400;
}



h1 {
  color:rgb(101, 136, 160);
  font-size:200%;
  margin:0;
  padding:0;
  padding-top:10px;
  text-transform: uppercase;
}

h2 {
  font-size:160%;
  color:black;
}

h3 {
  text-align: center;
  font-size:130%;
  color: white;
}

div.linepadding {
  padding:100px;
}

footer {
  color:white;
  margin-right:auto;
  margin-left:auto;
  height:50px;
  padding:10px;
}

aside {
  color: #084253;
  width: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color:#084253;
  border-radius: 15px;
  background-color:lightgray;
  padding: 10px;
  font-size:120%;
}

#container { 
    width: 99%;
    margin-left: 0px; 
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 270px;
    text-align: center;
    padding: 10px;
    column-count: 5;
    overflow: auto;
    

}

#container .column h2 { 
  color:rgb(15, 49, 71);
  font-family: Georgia, Serif; 
  text-align: center;
  margin-top:10px;
}

#container .column p {
  margin-left: 20px;
  margin-right: 20px;
}

#container .column image { 
  margin-top: 10px;
  margin-right: auto;
  border-radius: 50%;
  object-fit: cover;
  border-style: solid;
  border-width: 3px;
  border-color:#084253;
}

#NavBar {
  background-color: #E7E2E2;  
  opacity: 0.5;
  display:inline-block;
  width: 100%;
}

#NavBar .column1 {
  float: left;
  width: 25%;
  margin-left: 10px;
  margin-right: 10px;
  

}

#NavBar .column2 {
  float: left;
  width: 50%;
  text-align: center;
}


#NavBar .column3 {
  float: right;

}

Nav ul {
  list-style-type: none;
}

Nav li {
  float: left;
  margin-right: 15px;
}


#tabHeading  {
  text-align: center;
}

img.disabled {
  opacity:0.2;
}

#subContainer {
  width: 80%;
  margin: auto auto auto auto;
  text-align: center;
  color:rgb(189, 187, 187);
  font-family: Calibri;
  font-family: Calibri;
  font-size: 120%;
  font-weight: 400;

}


#facilities {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.tabfacilities{
  display: none;
  padding: 6px 12px;
  width: 40%;
  margin: auto auto auto auto;
  text-align: center;
}

/* Table 1 Style */
table.table1{
  font-family: "Trebuchet MS", sans-serif;
  font-size: 160%;
  font-weight: bold;
  line-height: 1.4em;
  font-style: normal;
  border-collapse:separate;
}

.table1 thead th{
  color:#444;
  text-shadow:1px 1px 1px #fff;
  border-bottom:5px solid #444;
  border:1px solid #444;
  background-color:rgb(101, 136, 160);
  border-top-left-radius:5px;
  border-top-right-radius:5px;
}
.table1 thead th:empty{
  background:transparent;
  border:none;
}
.table1 tbody th{
  color:#444;
  text-shadow:1px 1px 1px #fff;
  background-color: rgb(101, 136, 160);
  border:1px solid #444;
  padding:0px 10px;
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;

}

.table1 tbody td{
  /*padding:10px; */
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-align:center;
  background-color:rgb(175, 224, 218);
  border: 2px solid rgb(121, 221, 204);
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;
  color:rgb(65, 64, 64);
  text-shadow:1px 1px 1px #fff;
  column-width:800px;
  font-size: 80%;
}
.table1 tbody span.check::before{
  content : url(../images/check0.png)
}


#pictureContainer {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

div.gallery {
  margin-left: 10px;
  float: left;
  border: 1px solid #ccc;
  width: 300px;
}

div.gallery:hover {
  border: 1px solid #777;
}
  
div.gallery img {
  width: 100%;
  height: auto;
}
  
div.desc {
  padding: 15px;
  text-align: center;
}

.tabcontent {
    display: none;
    padding: 6px 20px;

}

#container2 { 
  margin-left: 0px; 
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 1px;
  display: flex;
}


#container2 .column1 { 
  width:25%;
}

#container2 .column2 { 
  width:50%;
}

#container2 .column3 { 
  width: 25%;
}

#container3 { 
  float: left;
  width: 100%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.container3-img-top{
width:100%;
height:auto;
}

#customerName1 {
  width: 99%;
  font-size: 100%;
  }
  
  #emailAdd1 {
  width: 99%;
  font-size: 100%;
  }
  
  #message1 {
  width:99%;
  font-size: 120%;
  }
 

figure {
  background-color: grey;
  background-size: contain;
}

